body {
    background-image: url("/assets/img/BGDummy.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 870px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
    
}

.copyright {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    position: fixed;
    bottom:0;
    width:100%;
}

.welcome .container {
    max-width: 42em;
    padding-top: 15%;
}

.welcome .container p {
    color: #ffffff;
}

.welcome .container h1 {
    color: #ffffff;
}

hr {
    border-top: 2px solid #ffffff;
}

.welcomeButton a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
}

.welcomeButton {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #279b90;
    border: 0px;
    width: 200px;
    height: 50px;
}

.container h1 {
    font-size: 60px;
}

.container p {
    font-size: 20px;
}

.container span {
    font-weight: bold;
}